<br>
<div style="text-align:center">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" routerLink="/cars">Car administration</button>
    <button type="button" class="btn btn-secondary" routerLink="/customers">Customer management</button>
    <button type="button" class="btn btn-secondary" routerLink="/rentals">Rental administration</button>
    <!--<button type="button" class="btn btn-secondary" routerLink="/reservations">Car reservation</button>-->
  </div>
  <button type="button" class="btn btn-danger" (click)="logout()">Logout</button>
</div>

<br>
<div class="dropdown-header">
  <h2 class="text-center">Customer management</h2>
  <h6 class="text-center">To edit click on item</h6>
</div>
<br>


<div class="container">
  <div class="row">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col" class="text-center" (click)="sort('id')">id</th>
          <th scope="col" class="text-center" (click)="sort('name')">Name</th>
          <th scope="col" class="text-center" (click)="sort('surname')">Surname</th>
          <th scope="col" class="text-center" (click)="sort('email')">Email</th>
          <th scope="col" class="text-center" (click)="sort('creditCardNumber')">Credit card number</th>
          <th scope="col" class="text-center" (click)="sort('login')">Login</th>
          <th scope="col" class="text-center" (click)="sort('password')">Password</th>
          <!--<th scope="col" class="text-center" (click)="sort('currentRentals')">Rented cars</th>-->
          <th scope="col" class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers | orderBy: key : reverse | filter:filter">
          <td scope="col" class="text-center" routerLink="/detailCustomer/{{customer.id}}">{{customer.id}}</td>
          <td scope="col" class="text-center" routerLink="/detailCustomer/{{customer.id}}">{{customer.name}}</td>
          <td scope="col" class="text-center" routerLink="/detailCustomer/{{customer.id}}">{{customer.surname}}</td>
          <td scope="col" class="text-center" routerLink="/detailCustomer/{{customer.id}}">{{customer.email}}</td>
          <td scope="col" class="text-center" routerLink="/detailCustomer/{{customer.id}}">{{customer.creditCardNumber}}</td>
          <td scope="col" class="text-center" routerLink="/detailCustomer/{{customer.id}}">{{customer.login}}</td>
          <td scope="col" class="text-center" routerLink="/detailCustomer/{{customer.id}}">{{customer.password}}</td>
          <!--<td scope="col" class="text-center" routerLink="/detailCustomer/{{customer.id}}">{{customer.currentRentals}}</td>-->
          <td scope="col" class="text-center">

            <button type="button" class="btn btn-dark" (click)="getCustomerCars(customer.currentRentals, template)">see rented cars</button>
            <ng-template #template>
              <div class="modal-header">
                <h4 class="modal-title pull-left">Rented cars:</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <!--<div class="modal-dialog modal-lg">-->
              <div class="modal-body">
                <div class="container">
                  <div class="row">
                    <table class="table">
                      <thead class="thead-dark">
                      <tr>
                        <th scope="col" class="text-center" (click)="sort('id')">id</th>
                        <th scope="col" class="text-center" (click)="sort('brand')">Brand</th>
                        <th scope="col" class="text-center" (click)="sort('model')">Model</th>
                        <!--<th scope="col" class="text-center" (click)="sort('description')">Description</th>-->
                        <!--<th scope="col" class="text-center" (click)="sort('colour')">Colour</th>-->
                        <th scope="col" class="text-center" (click)="sort('dateOfProduction')">Date of production</th>
                        <!--<th scope="col" class="text-center" (click)="sort('dateOfRetirement')">Date of retirement</th>-->
                        <th scope="col" class="text-center" (click)="sort('mileage')">Mileage</th>
                        <!--<th scope="col" class="text-center" (click)="sort('servicePeriod')">Service date</th>-->
                        <!--<th scope="col" class="text-center" (click)="sort('status')">Status</th>-->
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let car of customerCars">
                        <!--<ng-template *ngFor="let currentRentals of customerCurrentRentals">-->
                        <td scope="col" class="text-center" routerLink="/detail/{{car.id}}">{{car.id}}</td>
                        <td scope="col" class="text-center" routerLink="/detail/{{car.id}}">{{car.brand}}</td>
                        <td scope="col" class="text-center" routerLink="/detail/{{car.id}}">{{car.model}}</td>
                        <!--<td scope="col" class="text-center" routerLink="/detail/{{car.id}}">{{car.description}}</td>-->
                        <!--<td scope="col" class="text-center" routerLink="/detail/{{car.id}}">{{car.colour}}</td>-->
                        <td scope="col" class="text-center" routerLink="/detail/{{car.id}}">{{car.dateOfProduction | date}}</td>
                        <!--<td scope="col" class="text-center" routerLink="/detail/{{car.id}}">{ car.dateOfRetirement | date}}</td>-->
                        <td scope="col" class="text-center" routerLink="/detail/{{car.id}}">{{car.mileage}}</td>
                        <!--<td scope="col" class="text-center" routerLink="/detail/{{car.id}}">{{car.servicePeriod | date}}</td>-->
                        <!--<td scope="col" class="text-center" routerLink="/detail/{{car.id}}">{{car.status}}</td>-->
                        <!--</ng-template>-->
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!--</div>-->
            </ng-template>

              <button type="button" class="btn btn-dark" (click)="staticModal.show()">delete</button>
              <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
                   tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title pull-right">ATTENTION!</h4>
                    </div>
                    <div class="modal-body">Are you sure you want to delete this item?
                      <br>
                      <br>
                      <button type="button" class="btn btn-success" (click)="delete(customer)">YES</button>
                      <button type="button" class="btn btn-danger" (click)="staticModal.hide()">NO</button>
                    </div>
                  </div>
                </div>
              </div>

          </td>
        </tr>
      </tbody>
    </table>
    <div class="search">
      <nav>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="filter">
      </nav>
    </div>
    <div>
      <!--<button type="button" class="btn btn-outline-dark" routerLink="/customerAdd">Add new customer</button>-->
      <button type="button" class="btn btn-outline-dark" value="addCustomer" (click)="staticModal.show()">Add new customer</button>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Registration</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <label>Name:
            <input placeholder="name" #customerName />
          </label>
        </div>
        <div>
          <label>Surname:
            <input placeholder="surname" #customerSurname />
          </label>
        </div>
        <div>
          <label>Email:
            <input placeholder="email" #customerEmail />
          </label>
        </div>
        <div>
          <label>Credit card number:
            <input placeholder="credit card number" #customerCreditCardNumber />
          </label>
        </div>
        <div>
          <label>Login:
            <input placeholder="login" #customerLogin />
          </label>
        </div>
        <div>
          <label for="inputPassword">Password:
            <input type="password" id="inputPassword" placeholder="password" #customerPassword />
          </label>
        </div>
        <button type="button" class="btn btn-success"
                (click)="add(customerName.value, customerSurname.value, customerEmail.value, customerCreditCardNumber.value,
                                    customerLogin.value, customerPassword.value);
                              customerName.value=''; customerSurname.value=''; customerEmail.value=''; customerCreditCardNumber.value='';
                              customerLogin.value=''; customerPassword.value=''" (click)="staticModal.hide()"
        >Add</button>
      </div>
    </div>
  </div>
</div>
