<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
  <div class="row">
    <div class="col-md-offset-6 col-md-4">
      <div class="form-login">
      <!--<form (submit)="loginUser($event)">-->
        <!--<button (click)="loginUser(userName.value, userPassword.value)"></button>-->
        <h4>{{ welcome }}</h4>
        <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" #userName />
        <br>
        <input type="password" id="userPassword" class="form-control input-sm chat-input" placeholder="password" #userPassword />
        <br>
        <div class="wrapper">
            <span class="group-btn">
              <button href="#" type="submit" class="btn btn-primary btn-md" value="Login" (click)="loginUser(userName.value, userPassword.value)">Login<i class="fa fa-sign-in"></i></button>
              <!--<button href="#" type="submit" class="btn btn-primary btn-md" value="Login">Login<i class="fa fa-sign-in"></i></button>-->
            </span>
        </div>

        <div class="wrapper">
          <br>
          <button href="#" class="btn btn-primary btn-md" value="Register" (click)="staticModal.show()"><i class="glyphicon glyphicon-user"></i>Register</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Registration</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <div>
              <label>Name:
                <input placeholder="name" #customerName />
              </label>
            </div>
            <div>
              <label>Surname:
                <input placeholder="surname" #customerSurname />
              </label>
            </div>
            <div>
              <label>Email:
                <input placeholder="email" #customerEmail />
              </label>
            </div>
            <div>
              <label>Credit card number:
                <input placeholder="credit card number" #customerCreditCardNumber />
              </label>
            </div>
            <div>
              <label>Login:
                <input placeholder="login" #customerLogin />
              </label>
            </div>
            <div>
              <label for="inputPassword">Password:
                <input type="password" id="inputPassword" placeholder="password" #customerPassword />
              </label>
            </div>
              <button type="button" class="btn btn-success"
                      (click)="add(customerName.value, customerSurname.value, customerEmail.value, customerCreditCardNumber.value,
                                    customerLogin.value, customerPassword.value);
                              customerName.value=''; customerSurname.value=''; customerEmail.value=''; customerCreditCardNumber.value='';
                              customerLogin.value=''; customerPassword.value=''" (click)="staticModal.hide()"
              >Add</button>
      </div>
    </div>
  </div>
</div>
