thead>tr>th {
  cursor: pointer;
}

.search {
  margin-right: auto;
}

label {
  display: inline-block;
  width: 10em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}

input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
