<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">

<br>
<div style="text-align:center">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary" routerLink="/cars">Car administration</button>
      <button type="button" class="btn btn-secondary" routerLink="/customers">Customer management</button>
      <button type="button" class="btn btn-secondary" routerLink="/rentals">Rental administration</button>
      <!--<button type="button" class="btn btn-secondary" routerLink="/reservations">Car reservation</button>-->
    </div>
  <button type="button" class="btn btn-danger" (click)="logout()">Logout</button>
</div>

<br>
<div class="dropdown-header">
  <h3 class="text-center">Rental administration</h3>
</div>
<br>
<div class="container">
  <div class="row">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col" class="text-center" (click)="sort('id')">id</th>
          <th scope="col" class="text-center" (click)="sort('customerId')">Customer id</th>
          <th scope="col" class="text-center" (click)="sort('carId')">Car id</th>
          <th scope="col" class="text-center" (click)="sort('dateFrom')">Date from</th>
          <th scope="col" class="text-center" (click)="sort('dateTo')">Date to</th>
          <th scope="col" class="text-center" (click)="sort('status')">Status</th>
          <th scope="col" class="text-center" (click)="sort('wifi')">WIFI</th>
          <th scope="col" class="text-center" (click)="sort('gps')">GPS</th>
          <th scope="col" class="text-center" (click)="sort('additionalInsurance')">Additional insurance</th>
          <th scope="col" class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rental of rentals | orderBy: key : reverse | filter:filter">
          <td scope="col" class="text-center">{{rental.id}}</td>
          <td scope="col" class="text-center">{{rental.customerId}}</td>
          <td scope="col" class="text-center">{{rental.carId}}</td>
          <td scope="col" class="text-center">{{rental.dateFrom | date}}</td>
          <td scope="col" class="text-center">{{rental.dateTo | date}}</td>
          <td scope="col" class="text-center">{{rental.wifi}}</td>
          <td scope="col" class="text-center">{{rental.gps}}</td>
          <td scope="col" class="text-center">{{rental.additionalInsurance}}</td>
          <td scope="col" class="text-center">{{rental.status}}</td>
          <td scope="col" class="text-center">
            <button type="button" class="btn btn-dark" routerLink="/detailRent/{{rental.id}}">edit</button>
            <button type="button" class="btn btn-dark" (click)="staticModal.show()">delete</button>
            <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
                 tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title pull-left">ATTENTION!</h4>
                  </div>
                  <div class="modal-body">
                    Are you sure you want to delete this item?
                    <br>
                    <button type="button" class="btn btn-success"  (click)="delete(rental)">YES</button>
                    <button type="button" class="btn btn-danger"  (click)="staticModal.hide()">NO</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="search">
    <nav>
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="filter">
    </nav>
    </div>
    <div>
      <button type="button" class="btn btn-outline-dark" (click)="staticModal.show()">Add new rental</button>
    </div>
  </div>
</div>



<!--<button type="button" class="btn btn-primary" (click)="staticModal.show()">Static modal</button>-->

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add new rental</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <div>
          <label>Customer id:
            <input placeholder="customerId" #customerId />
          </label>
        </div>
        <div>
          <label>Car id:
            <input placeholder="carId" #carId />
          </label>
        </div>
        <div>
          <label>Date from:
            <input type="text"
                   placeholder="date from"
                   class="form-control"
                   bsDatepicker
                   (bsValueChange)="onValueChangeFrom($event)"
                   #dateFrom />
          </label>
        </div>
        <div>
          <label>Date to:
            <input type="text"
                    placeholder="date to"
                    class="form-control"
                    bsDatepicker
                    (bsValueChange)="onValueChangeTo($event)"
                    #dateTo />
          </label>
        </div>

        <button type="button" class="btn btn-success" (click)="add(customerId.value, carId.value, dateFrom.value, dateTo.value);
                        customerId.value=''; carId.value=''; dateFrom.value=''; dateTo.value=''"
        >Add</button>


      </div>
    </div>
  </div>
</div>

