<br>
<div style="text-align:center">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" routerLink="/customerView">Main page</button>
    <button type="button" class="btn btn-secondary" routerLink="/reservations">Car reservation</button>
  </div>
  <button type="button" class="btn btn-danger" (click)="logout()">Logout</button>
</div>

<br>
<div *ngIf="customer">
<div class="dropdown-header">
  <h2 class="text-center">Hi {{ customer.name }} {{ customer.surname }}</h2>
  <!--<h2 class="text-center">Hi</h2>-->
</div>
</div>
<br>


<div style="text-align:center">
    <div class="d-inline-block">
<div *ngIf="customer">

  <br>
  <!--<div class="col-md-offset-6 col-md-4">-->
  <div class="dropdown-header">
    <h3 class="text-center">Customer details</h3>
  </div>
  <!--</div>-->
  <br>

  <!--<div class="col-md-offset-3 col-md-4">-->
  <div class="container">
    <div class="row">
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th>Name:</th>
          <th>
            {{customer.name}}
            <!--<input [(ngModel)]="customer.name" placeholder="name">-->
          </th>
        </tr>
        <tr>
          <th>Surname:</th>
          <th>
            {{customer.surname}}
            <!--<input [(ngModel)]="customer.surname" placeholder="surname">-->
          </th>
        </tr>
        <tr>
          <th>Email:</th>
          <th>
            {{customer.email}}
            <!--<input [(ngModel)]="customer.email" placeholder="email">-->
          </th>
        </tr>
        <tr>
          <th>Credit card number:</th>
          <th>
            {{customer.creditCardNumber}}
            <!--<input [(ngModel)]="customer.creditCardNumber" placeholder="credit card number">-->
          </th>
        </tr>
        <tr>
          <th>Login:</th>
          <th>
            {{customer.login}}
            <!--<input [(ngModel)]="customer.login" placeholder="login">-->
          </th>
        </tr>
        <tr>
          <th>Password:</th>
          <th>
            {{customer.password}}
            <!--<input [(ngModel)]="customer.password" placeholder="password">-->
          </th>
        </tr>
        </thead>
      </table>
    </div>
    </div>
  </div>
</div>
<!--</div>-->

<div class="d-inline-block">
  <br>
  <!--<div class="col-md-offset-6 col-md-4">-->
    <div class="dropdown-header">
      <h3 class="text-center">Your rents</h3>
    </div>
  <!--</div>-->
  <br>
  <!--<div class="col-md-offset-7 col-md-7">-->
<div class="container">
  <div class="row">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col" class="text-center" (click)="sort('id')">id</th>
        <th scope="col" class="text-center" (click)="sort('customerId')">Customer id</th>
        <th scope="col" class="text-center" (click)="sort('carId')">Car id</th>
        <th scope="col" class="text-center" (click)="sort('dateFrom')">Date from</th>
        <th scope="col" class="text-center" (click)="sort('dateTo')">Date to</th>
        <th scope="col" class="text-center" (click)="sort('status')">Status</th>
        <th scope="col" class="text-center" (click)="sort('wifi')">WIFI</th>
        <th scope="col" class="text-center" (click)="sort('gps')">GPS</th>
        <th scope="col" class="text-center" (click)="sort('additionalInsurance')">Additional insurance</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let rental of rentals | orderBy: key : reverse | filter:filter">
      <!--<tr *ngFor="let rental of rentals">-->
        <ng-template [ngIf]="rental.customerId===currentCustomerIdToCheck || rental.customerId===currentCustomerId">
        <td scope="col" class="text-center">{{rental.id}}</td>
        <td scope="col" class="text-center">{{rental.customerId}}</td>
        <td scope="col" class="text-center">{{rental.carId}}</td>
        <td scope="col" class="text-center">{{rental.dateFrom | date}}</td>
        <td scope="col" class="text-center">{{rental.dateTo | date}}</td>
        <td scope="col" class="text-center">{{rental.status}}</td>
        <td scope="col" class="text-center">{{rental.wifi}}</td>
        <td scope="col" class="text-center">{{rental.gps}}</td>
        <td scope="col" class="text-center">{{rental.additionalInsurance}}</td>
        </ng-template>
      </tr>
      </tbody>
    </table>
    <nav>
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="filter">
    </nav>
  </div>
</div>
  <!--</div>-->
</div>
</div>
