<br>
<div style="text-align:center">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" routerLink="/customerView">Main page</button>
    <button type="button" class="btn btn-secondary" routerLink="/reservations">Car reservation</button>
  </div>
  <button type="button" class="btn btn-danger" (click)="logout()">Logout</button>
</div>

<br>
<div class="dropdown-header">
  <h3 class="text-center">Car reservation</h3>
  <h6 class="text-center">To see more details or make a reservation, click on line</h6>
</div>
<br>
<div class="container">
  <div class="row">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col" class="text-center" (click)="sort('id')">id</th>
        <th scope="col" class="text-center" (click)="sort('brand')">Brand</th>
        <th scope="col" class="text-center" (click)="sort('model')">Model</th>
        <th scope="col" class="text-center" (click)="sort('description')">Description</th>
        <th scope="col" class="text-center" (click)="sort('colour')">Colour</th>
        <th scope="col" class="text-center" (click)="sort('dateOfProduction')">Date of production</th>
        <th scope="col" class="text-center" (click)="sort('dateOfRetirement')">Date of retirement</th>
        <th scope="col" class="text-center" (click)="sort('mileage')">Mileage</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let car of cars | orderBy: key : reverse | filter:filter">
        <td scope="col" class="text-center" routerLink="/performReservation/{{car.id}}">{{car.id}}</td>
        <td scope="col" class="text-center" routerLink="/performReservation/{{car.id}}">{{car.brand}}</td>
        <td scope="col" class="text-center" routerLink="/performReservation/{{car.id}}">{{car.model}}</td>
        <td scope="col" class="text-center" routerLink="/performReservation/{{car.id}}">{{car.description}}</td>
        <td scope="col" class="text-center" routerLink="/performReservation/{{car.id}}">{{car.colour}}</td>
        <td scope="col" class="text-center" routerLink="/performReservation/{{car.id}}">{{car.dateOfProduction | date}}</td>
        <td scope="col" class="text-center" routerLink="/performReservation/{{car.id}}">{{car.dateOfRetirement | date}}</td>
        <td scope="col" class="text-center" routerLink="/performReservation/{{car.id}}">{{car.mileage}}</td>
      </tr>
      </tbody>
    </table>
    <nav>
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="filter">
    </nav>
  </div>
</div>
