<div *ngIf="customer">

  <br>
  <div class="dropdown-header">
    <h2 class="text-center">Customer details</h2>
  </div>
  <br>

  <div class="container">
    <div class="row">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Credit card number</th>
            <th>Login</th>
            <th>Password</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              {{customer.id}}
            </td>
            <td>
              <input [(ngModel)]="customer.name" placeholder="name">
            </td>
            <td>
              <input [(ngModel)]="customer.surname" placeholder="surname">
            </td>
            <td>
              <input [(ngModel)]="customer.email" placeholder="email">
            </td>
            <td>
              <input [(ngModel)]="customer.creditCardNumber" placeholder="credit card number">
            </td>
            <td>
              <input [(ngModel)]="customer.login" placeholder="login">
            </td>
            <td>
              <input [(ngModel)]="customer.password" placeholder="password">
            </td>
          </tr>
        </tbody>
      </table>
      <div class="search">
        <button type="button" class="btn btn-outline-dark" (click)="goBack()">Go back!</button>
        <button type="button" class="btn btn-outline-dark" (click)="save()">Save</button>
      </div>
    </div>
  </div>
</div>
