
<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">
<div *ngIf="car">

  <br>
  <div class="dropdown-header">
    <h2 class="text-center">Car details</h2>
  </div>
  <br>

  <div class="container">
    <div class="row">
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th>id:</th>
          <th>Brand:</th>
          <th>Model:</th>
          <th>Description:</th>
          <th>Colour:</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              {{car.id}}
            </td>
            <td>
              <input [(ngModel)]="car.brand" placeholder="brand">
            </td>
            <td>
              <input [(ngModel)]="car.model" placeholder="model">
            </td>
            <td>
              <input [(ngModel)]="car.description" placeholder="description">
            </td>
            <td>
              <input [(ngModel)]="car.colour" placeholder="colour">
            </td>
          </tr>
        </tbody>
      </table>
      <br>
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th>Date of production:</th>
          <th>Date of retirement:</th>
          <th>Mileage:</th>
          <th>Service date:</th>
          <th>Status:</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <!--<input [(ngModel)]="car.dateOfProduction" placeholder="date of production">-->
            <input [(ngModel)]="car.dateOfProduction" placeholder="date of production"
                   type="text"
                   class="forms-control"
                   bsDatepicker>
          </td>
          <td>
            <!--<input [(ngModel)]="car.dateOfRetirement" placeholder="date of retirement">-->
            <input [(ngModel)]="car.dateOfRetirement"
                   type="text"
                   placeholder="date of retirement"
                   class="form-control"
                   bsDatepicker>
          </td>
          <td>
            <input [(ngModel)]="car.mileage" placeholder="mileage">
          </td>
          <td>
            <!--<input [(ngModel)]="car.servicePeriod" placeholder="service date">-->
            <input [(ngModel)]="car.servicePeriod"
                   type="text"
                   placeholder="service period"
                   #carServicePeriod
                   class="form-control"
                   bsDatepicker>
          </td>
          <td>
            <input [(ngModel)]="car.status" placeholder="status">
          </td>
        </tr>
        </tbody>
      </table>
      <div class="search">
        <button type="button" class="btn btn-outline-dark" (click)="goBack()">Go back!</button>
        <button type="button" class="btn btn-outline-dark" (click)="save()">Save</button>
      </div>
    </div>
  </div>
</div>
