<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">

<br>
<div class="dropdown-header">
  <h2 class="text-center">Make reservation</h2>
</div>
<br>

<div style="text-align:center">
<div class="d-inline-block">
<div *ngIf="car">
  <div class="dropdown-header">
    <h4 class="text-center">Car details</h4>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <table class="table">
        <thead class="thead-light">
        <tr>
          <th>id:</th>
          <th>{{car.id}}</th>
        </tr>
        <tr>
          <th>Brand:</th>
          <th>{{car.brand}}</th>
        </tr>
        <tr>
          <th>Model:</th>
          <th>{{car.model}}</th>
        </tr>
        <tr>
          <th>Description:</th>
          <th>{{car.description}}</th>
        </tr>
        <tr>
          <th>Colour:</th>
          <th>{{car.colour}}</th>
        </tr>
        <tr>
          <th>Date of production:</th>
          <th>{{car.dateOfProduction | date}}</th>
        </tr>
        <tr>
          <th>Date of retirement:</th>
          <th>{{car.dateOfRetirement | date}}</th>
        </tr>
        <tr>
          <th>Mileage:</th>
          <th>{{car.mileage}}</th>
        </tr>
        <tr>
          <th>Service period:</th>
          <th>{{car.servicePeriod | date}}</th>
        </tr>
        </thead>
      </table>
  </div>
  </div>
</div>
</div>

<div class="d-inline-block">
  <div class="dropdown-header">
    <h4 class="text-center">Reservation date</h4>
  </div>
  <br>
    <div class="container">
      <div class="row">
        <table class="table">
          <thead class="thead-light">
          <tr>
            <th>Date from:</th>
            <th>Date to:</th>
          </tr>
          <tr>
            <th>
              <pre class="card card-block card-header" *ngIf="dateFrom"></pre>
              <input type="text"
                     placeholder="date from"
                     class="form-control"
                     bsDatepicker
                     (bsValueChange)="onValueChangeFrom($event)">
            </th>
            <th>
              <pre class="card card-block card-header" *ngIf="dateTo"></pre>
              <input type="text"
              placeholder="date to"
              class="form-control"
              bsDatepicker
              (bsValueChange)="onValueChangeTo($event)">
            </th>
          </tr>
          </thead>
        </table>
      </div>
    </div>
</div>
  <div class="search">
    <button type="button" class="btn btn-outline-dark"  (click)="goBack()">Go back!</button>
    <button type="button" class="btn btn-outline-dark"  (click)="makeReservation()">Reserve</button>
  </div>
</div>

