<!DOCTYPE html><br>
<div class="dropdown-header">
  <h2 class="text-center">Edit</h2>
</div>
<br>

<div *ngIf="rental">
<div class="container">
  <div class="row">
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th>id:</th>
        <th>Customer id:</th>
        <th>Car id:</th>
        <th>Date from:</th>
        <th>Date to:</th>
        <th>WIFI:</th>
        <th>GPS:</th>
        <th>Additional insurance:</th>
        <th>Status:</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{rental.id}}
          </td>
          <td>
            {{rental.customerId}}
          </td>
          <td>
            {{rental.carId}}
          </td>
          <td>
            {{rental.dateFrom | date}}
          </td>
          <td>
            {{rental.dateTo | date}}
          </td>
          <td>
            <div class="form-group">
              <select [(ngModel)]="rental.wifi" class="form-control" id="wifi">
                <option  value="YES">YES</option>
                <option value="NO">NO</option>
              </select>
            </div>
          </td>
          <td>
            <div class="form-group">
              <select [(ngModel)]="rental.gps" class="form-control" id="gps">
                <option value="YES">YES</option>
                <option value="NO">NO</option>
              </select>
            </div>
          </td>
          <td>
            <div class="form-group">
              <select [(ngModel)]="rental.additionalInsurance" class="form-control" id="additionalInsurence">
                <option value="YES">YES</option>
                <option value="NO">NO</option>
              </select>
            </div>
          </td>
          <td>
            <div class="form-group">
              <select [(ngModel)]="rental.status" class="form-control" id="status">
                <option value="accepted">Accept</option>
                <option value="declined">Decline</option>
              </select>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
      <div class="search">
        <button type="button" class="btn btn-outline-dark" (click)="goBack()">Go back!</button>
        <button type="button" class="btn btn-outline-dark" (click)="save()">Save</button>
      </div>
  </div>
</div>
</div>
