<br>
<div style="text-align:center">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" routerLink="/cars">Car administration</button>
    <button type="button" class="btn btn-secondary" routerLink="/customers">Customer management</button>
    <button type="button" class="btn btn-secondary" routerLink="/rentals">Rental administration</button>
    <!--<button type="button" class="btn btn-secondary" routerLink="/reservations">Car reservation</button>-->
  </div>
  <button type="button" class="btn btn-danger" (click)="logout()">Logout</button>
</div>

<br>
<div class="dropdown-header">
  <h2 class="text-center">Car administration</h2>
  <h6 class="text-center">To edit click on item</h6>
</div>
<br>


<div class="container">
  <div class="row">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col" class="text-center" (click)="sort('id')">id</th>
          <th scope="col" class="text-center" (click)="sort('brand')">Brand</th>
          <th scope="col" class="text-center" (click)="sort('model')">Model</th>
          <th scope="col" class="text-center" (click)="sort('description')">Description</th>
          <th scope="col" class="text-center" (click)="sort('colour')">Colour</th>
          <th scope="col" class="text-center" (click)="sort('dateOfProduction')">Date of production</th>
          <th scope="col" class="text-center" (click)="sort('dateOfRetirement')">Date of retirement</th>
          <th scope="col" class="text-center" (click)="sort('mileage')">Mileage</th>
          <th scope="col" class="text-center" (click)="sort('servicePeriod')">Service date</th>
          <th scope="col" class="text-center" (click)="sort('status')">Status</th>
          <th scope="col" class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let car of cars | orderBy: key : reverse | filter:filter">
        <td scope="col" class="text-center" routerLink="/detail/{{car.id}}">{{car.id}}</td>
        <td scope="col" class="text-center" routerLink="/detail/{{car.id}}">{{car.brand}}</td>
        <td scope="col" class="text-center" routerLink="/detail/{{car.id}}">{{car.model}}</td>
        <td scope="col" class="text-center" routerLink="/detail/{{car.id}}">{{car.description}}</td>
        <td scope="col" class="text-center" routerLink="/detail/{{car.id}}">{{car.colour}}</td>
        <td scope="col" class="text-center" routerLink="/detail/{{car.id}}">{{car.dateOfProduction | date}}</td>
        <td scope="col" class="text-center" routerLink="/detail/{{car.id}}">{{car.dateOfRetirement | date}}</td>
        <td scope="col" class="text-center" routerLink="/detail/{{car.id}}">{{car.mileage}}</td>
        <td scope="col" class="text-center" routerLink="/detail/{{car.id}}">{{car.servicePeriod | date}}</td>
        <td scope="col" class="text-center" routerLink="/detail/{{car.id}}">{{car.status}}</td>
        <td scope="col" class="text-center">
          <button type="button" class="btn btn-dark" (click)="staticModal.show()">delete</button>
          <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
               tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title pull-right">ATTENTION!</h4>
                </div>
                <div class="modal-body">Are you sure you want to delete this item?
                  <br>
                  <br>
                  <button type="button" class="btn btn-success" (click)="delete(car)">YES</button>
                  <button type="button" class="btn btn-danger" (click)="staticModal.hide()">NO</button>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <br>
    <div class="search">
      <nav>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="filter">
      </nav>
    </div>
    <div>
      <button type="button" class="btn btn-outline-dark" value="addCar" (click)="staticModal.show()">Add new car</button>
    </div>
    <br>
  </div>
</div>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add new car</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">
      <div class="modal-body">
        <div>
          <label>Brand
            <input placeholder="brand" #carBrand />
          </label>
        </div>
        <div>
          <label>Model
            <input placeholder="model" #carModel />
          </label>
        </div>
        <div>
          <label>Description
            <input placeholder="description" #carDescription />
          </label>
        </div>
        <div>
          <label>Colour
            <input placeholder="colour" #carColour />
          </label>
        </div>
        <div>
          <label>Date of production
            <input type="text"
                   placeholder="date of production"
                   #carDateOfProduction
                   class="form-control"
                   bsDatepicker placement="right">
          </label>
        </div>
        <div>
          <label>Date of Date of retirement
            <input type="text"
                   placeholder="date of retirement"
                   #carDateOfRetirement
                   class="form-control"
                   bsDatepicker placement="right">
          </label>
        </div>
        <div>
          <label>Mileage
            <input placeholder="mileage" #carMileage />
          </label>
        </div>
        <div>
          <label>Service date
            <input type="text"
                   placeholder="service period"
                   #carServicePeriod
                   class="form-control"
                   bsDatepicker placement="right">
          </label>
        </div>
        <div>
          <label>Status
            <input placeholder="status" #carStatus />
          </label>
        </div>

        <button type="button" class="btn btn-outline-dark" (click)="add(carBrand.value, carModel.value, carDescription.value, carColour.value,
                      carDateOfProduction.value, carDateOfRetirement.value, carMileage.value,
                      carServicePeriod.value, carStatus.value);
                      carBrand.value=''; carModel.value=''; carDescription.value=''; carColour.value='';
                      carDateOfProduction.value=''; carDateOfRetirement.value=''; carMileage.value=''; carServicePeriod.value='';
                      carStatus.value=''" (click)="staticModal.hide()">Add</button>

      </div>
    </div>
  </div>
</div>
